@font-face {
    font-family: "MarkPro";
    src: url("/fonts/MarkPro.ttf");
    src: url("/fonts/MarkPro.otf");

  }
 
  @font-face {
    font-family: "Nunito";
    src: url("/fonts/Nunito-Light.ttf");
   
    



   

  }