header {
    width: 100%;
    height: 100px;
    background-color: blue;
}

header div:nth-child(1) {
    width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header div img:nth-child(1) {
    height: 20px;
}

header div article {
    max-width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

header div article span {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}
header div article span:nth-last-child(1) {
    font-size: 12px !important;
}
.profileInfo {
    display: flex !important;
    justify-content: center !important;
    flex: 1;
    flex-direction: column !important;
    align-items:flex-end!important;
    margin-right: 29px !important;
    gap: 5px!important;
}

header article img {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    border-style: none;
    background-color: red;
}