.home_container{
    max-width: 1440px;
    margin: 0 auto;
    
    width: 100%;
    height:900px;
    /* display: flex;
    flex: 1;
   flex-direction: column;
    height: 1440px;
    width: 100%; */
   
}
.BG_image {
    width: 100%;
    height: 470px;
    /* padding: 30px 150px 22px 355px;
    object-fit: contain; */
  }
  