.container-slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    height: 150px;
    width: 100%;
    padding: 0px;
}

.childslider_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}